<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thecafe">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DeliveryRegistration"></activity>
        <activity android:name=".DeliveryLoginPhone" />
        <activity android:name=".DeliveryLogin" />
        <activity android:name=".Registration" />
        <activity android:name=".LoginPhone" />
        <activity android:name=".Login" />
        <activity android:name=".ChefRegistration" />
        <activity android:name=".ChefLoginPhone" />
        <activity android:name=".ChefLogin" />
        <activity android:name=".ChooseOne" />
        <activity android:name=".MainMenu" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>